<h1>REACTIVE USER</h1>

<div class="row">
    
        <div class="col-6">
        <div class="card">
            <div class="card-head bg-dark">USER INFO</div>
            <div class="card-body bg-dark" style="color:wheat ;">
            <table class="table table-dark table-bordered">
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Full Name</th>
                        <th>Mobile No</th>
                    </tr>
                </thead>
                <tbody>
                @for (user of userObj(); track $index) {
                    <tr>
                        <th>{{user.userId}}</th>
                        <th>{{user.emailId}}</th>
                        <th>{{user.password}}</th>
                        <th>{{user.fullName}}</th>
                        <th>{{user.mobileNo}}</th>
                    </tr>
                }
                </tbody>
             </table>
            </div>
        </div>
    </div>
    <div class="col-6">
            <form action="" [formGroup]="userForm">
                <div class="row">
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" formControlName="emailId" class="form-control">
                         @if (userForm.controls['emailId'].touched) {
                                @if (userForm.controls['emailId'].errors?.['required']) {
                                <span>This is required</span>
                                }
                                @if (userForm.controls['emailId'].errors?.['email']) {
                                    <span>Invalid email format</span>
                                }
                            }
                    </div>
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="text" formControlName="password" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">FullName</label>
                        <input type="text" formControlName="fullName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">MobileNo</label>
                        <input type="text" formControlName="mobileNo" class="form-control">
                    </div>
                </div>
            </form>
            <div>

                <button class="btn btn-primary" [disabled] = "userForm.invalid" (click) = 'onSave()'>Save</button>
            </div>
        </div>
   
    
</div>
